/dscan_result/data/sim_hash_result.csv
/dscan_result/data/train.csv
/dscan_result/saved_dict/*
/dscan_result/log/*
*.pyc
.idea/misc.xml
.idea/Text classification.iml
.idea/misc.xml
.idea/Text classification.iml
*.pyc
